<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	{% include "components/favicon.njk" %}
</head>
<body data-bs-spy="scroll" data-bs-target="#navId">
	{% include 'components/topbar.njk' %}
	{% include 'components/hero.njk' %}
	{% block content %}
	<main>
	{{ content | safe }}
	</main>
	{% endblock %}
	{% include 'components/footer.njk' %}

	<script src="/js/bundle.js"></script>

</body>
</html>