<section id="bundles" class="pt-5 pb-0">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h2 class="display-4 fw-bold mb-0">Bundles</h2>
        <h3 class="display-6 mb-3">Die Komplettlösung</h3>
        <p class="lead">
          Erleben Sie HiFi-Sound auf einem neuen Level! Mit den Lautsprecher-Bausatz-Bundles von variant HiFi bauen Sie ganz einfach und schnell Ihren eigenen Traumlautsprecher. Unsere Bundles enthalten alles, was Sie benötigen - von den hochwertigen Lautsprecherchassis über Kabel, Dämmmaterial und Schrauben bis hin zu Frequenzweichenbauteilen und dem Gehäusebausatz aus MDF.
        </p>
        <p>
          Und das Beste daran: Der Gehäusebausatz ist bereits vorgefertigt und perfekt auf die Lautsprecherchassis abgestimmt. Alle Öffnungen sind vorhanden und die Chassis-Befestigung vorgebohrt. So sparen Sie Zeit und Nerven und können sich auf das Wesentliche konzentrieren - den perfekten Klang.
        </p>
        <p>
          Die Lautsprecher-Bausatz-Bundles von variant HiFi bieten Ihnen also eine einfache und unkomplizierte Möglichkeit, Ihren eigenen HiFi-Lautsprecher passgenau zu bauen. Unsere hochwertigen Bauteile sorgen dabei für ein unvergleichliches Klangerlebnis. Werden Sie jetzt selbst zum HiFi-Experten und sichern Sie sich ein Lautsprecher-Bausatz-Bundle von variant HiFi!
        </p>
      </div>
      <div class="col-12 col-lg-4 offset-lg-1">
        <img src="/assets/img/bundles.webp" alt="Bundles" class="img-fluid sticky" style="z-index: 1;">
      </div>
    </div>
  </div>
  <div class="bg-dark py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-5">
          <h3 class="display-3">Was ist alles enthalten?</h3>
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">
          <p class="lead">Folgende Teile sind, falls benötigt oder empfohlen enthalten:</p>
          <ul class="components">
            <li>Chassis</li>
            <li>Kabel für Innenverdrahtung</li>
            <li>Schrauben</li>
            <li>Terminal / Polklemmen / Anschlüsse</li>
            <li>Dämmmaterial</li>
            <li>Frequenzweichenbauteile (lose)</li>
            <li>Bassreflexrohre</li>
            <li>Rasterplatte</li>
            <li>Baupläne</li>
            <li>Gehäuse als Bausatz oder "fertig verleimt" in MDF roh</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 advert">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="text-white glass p-5 rounded-5 shadow-lg">
            <!-- text -->
            <h2 class="h1 text-white">Lust auf unsere Bundles?</h2>
            <p class="mb-3">Bauen Sie den perfekten Lautsprecher aus unserer Bundle-Auswahl. Allebenötigten Komponenten inkl. Gehäuse sind im Lieferumfang enthalten.</p>
            <a href="https://variant-hifi.com/lautsprecher/lautsprecher-gehaeusebausatz-bundles/" class="btn btn-secondary btn-lg">Zu den Bundles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>