<section id="gehaeusebausaetze" class="py-5">
  <div class="container">
    <div class="row">
    <div class="col-12 col-lg-4 relative">
      <img src="/assets/img/speaker.jpg" alt="Gehäusebau" class="img-fluid shadow-lg sticky" style="z-index: 5;">
    </div>
      <div class="col-12 col-lg-7 offset-lg-1">
        <div class="py-6">
          <div class="container">
            <div class="row">
              <div class="col-12 ">
                <div class="row">
                  <div class="col-lg-9 col-md-12 col-12 mb-8">

                    <h2 class="mb-3 display-4 fw-bold ">Gehäusebausätze von variant
                    </h2>
                    <p class="h2 text-muted ">Aus Schreinermeisterhand, hochwertig produziert und entwickelt</p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <!-- row -->
                    <div class="row">
                      <!-- col -->
                      <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                        <!-- icon -->
                        <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                          <i class="bi bi-lightning-charge-fill "></i>
                        </div>
                        <!-- heading -->
                        <h2 class="fw-bold">Schnell & inuitiv</h2>
                        <!-- text -->
                        <p class="fs-5">Duis ac ultrices lacus. Nulla pulvinar justo ac ex pulvinar placerat. Curabitur sit amet sagittis sapienlectus.</p>
                      </div>
                      <!-- col -->
                      <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                        <!-- icon -->
                        <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                          <i class="bi bi-chat-fill "></i>
                        </div>
                        <!-- heading -->
                        <h2 class="fw-bold">Passt einfach</h2>
                        <!-- text -->
                        <p class="fs-5">Vivamus gravida sem nec nunc euismod, eu facilisis augue congue. Etiam pharetra aliquet interdum.
                        </p>
                      </div>
                      <!-- col -->
                      <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                        <!-- icon -->
                        <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                          <i class="bi bi-cloud-fill "></i>
                        </div>
                        <!-- heading -->
                        <h2 class="fw-bold">Ausbaustufen</h2>
                        <!-- text -->
                        <p class="fs-5">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae consequat interdum.</p>
                      </div>
                      <!-- col -->
                      <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                        <!-- icon -->
                        <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                          <i class="bi bi-grid-fill "></i>
                        </div>
                        <!-- heading -->
                        <h2 class="fw-bold">Extras</h2>
                        <!-- text -->
                        <p class="fs-5">Praesent dolor velit, porta id pharetra quis, rutrum vitae velit. In ut neque qnas tristique imperdiet porta.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>