<section id="gehaeusebausaetze" class="py-5 pb-0">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-4 relative">
        <img src="/assets/img/speaker.jpg" alt="Gehäusebau" class="img-fluid shadow-lg sticky" style="z-index: 5;">
      </div>
      <div class="col-12 col-lg-7 offset-lg-1">
        <h2 class="mb-3 display-4 fw-bold ">Gehäusebausätze von variant
        </h2>
        <p class="lead">
          Unsere Gehäuse-Bausätze und Frontplatten bei variant-hifi.de werden von Schreinermeistern gefertigt und von Lautsprecher-Ingenieuren entwickelt.
        </p>
        <p>
          Die Flat-Packs enthalten alle notwendigen Teile (ohne Fasen oder Rundungen an den Kanten), Verstrebungen, Fräsungen für Chassis und Zubehörteile sowie Ausschnitte für Anschlussterminals, Bohrungen für Polklemmen oder andere Aussparungen. Der Zusammenbau erfolgt einfach mit Leim und als Zurrmittel, Panzertape oder Klemm- oder Schraubzwingen. Ein Trockenbau ohne Leim empfiehlt sich, um die Passgenauigkeit und Reihenfolge beim Zusammenbau zu verstehen.
        </p>
        <p>
          Für Subwoofer-Gehäuse-Bausätze liefern wir teilweise aufgedoppelte Schallwände, um eine feste Verbindung zu gewährleisten. Die meisten Subwoofer-Gehäuse-Bausätze sind genutet, um eine maximale Fläche für die Verbindung der Teile zu gewährleisten. Eine 3D-Explosions-Bauzeichnung hilft beim Verständnis.
        </p>
        <p>
          Wir bieten Gehäuse-Bausätze in MDF-Roh oder schwarzem MDF-Roh an, die alle benötigten Holzteile, Streben und innenliegenden Teiler enthalten. Alle Fräsungen für Chassis, Ausschnitte oder Bohrungen sind passgenau vorgefertigt. Die Ausbaustufen reichen von einfachen Flat-Packs bis hin zu fertig verleimten Gehäusen mit Kantenbearbeitung und Fasen. Wir bieten auch Gehäuse aus Multiplex oder anderen Holz- und Holzwerkstoffen an.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
              <!-- icon -->
              <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                <i class="bi bi-lightning-charge-fill "></i>
              </div>
              <!-- heading -->
              <h2 class="fw-bold">Schnell & inuitiv</h2>
              <!-- text -->
              <p class="fs-5">Unsere Bausätze sind einfach und intuitiv zu montieren mit begeisterndem Ergebnissen</p>
            </div>
            <!-- col -->
            <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
              <!-- icon -->
              <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                <i class="bi bi-chat-fill "></i>
              </div>
              <!-- heading -->
              <h2 class="fw-bold">Passt einfach</h2>
              <!-- text -->
              <p class="fs-5">Alle Bausätze sind passgenau gefertigt und lassen keine Wünsche offen.
              </p>
            </div>
            <!-- col -->
            <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
              <!-- icon -->
              <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                <i class="bi bi-cloud-fill "></i>
              </div>
              <!-- heading -->
              <h2 class="fw-bold">Ausbaustufen</h2>
              <!-- text -->
              <p class="fs-5">Unsere Bausätze sind jeweils in den Ausbaustufen "Schallwand", "Bausatz" und "fertig verleimt".</p>
            </div>
            <!-- col -->
            <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
              <!-- icon -->
              <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4">
                <i class="bi bi-grid-fill "></i>
              </div>
              <!-- heading -->
              <h2 class="fw-bold">Kantenbearbeitung</h2>
              <!-- text -->
              <p class="fs-5">Kantenbearbeitung (Fasen & Rundungen) ist
                <strong>ausschließlich</strong>
                bei der Ausbaustufe "fertig verleimt" möglich.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-secondary">
  <div class="container">
    <!-- row -->
    <div class="row align-items-center g-0">
      <!-- img -->
      <div class=" col-xl-6 col-lg-6 col-md-12 text-lg-end text-center pt-6">
        <img src="/assets/img/s1.webp" alt="" class="img-fluid">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <!-- heading -->
        <div>
          <h3 class="display-4 fw-bold pe-lg-8">Bauen Sie jetzt Ihr Wunschgehäuse
          </h3>
          <!-- text -->
          <p class="mb-4 lead">
            Mit den hochwertigen Gehäusebausätzen von variant zum Wunschlautsprecher.
          </p>
          <!-- btn -->
          <a href="#" class="btn btn-primary btn-lg">Zu den Gehäusebausätzen</a>
        </div>
      </div>
    </div>
  </div>
 </div>