<section id="individueller-gehaeusebau" class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="row row-cols-2 g-3 sticky">
          <div class="col"><img src="/assets/img/il-1.jpg" alt="LS Bausatz 1" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/il-2.jpg" alt="LS Bausatz 2" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/il-3.jpg" alt="LS Bausatz 3" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/il-4.jpg" alt="LS Bausatz 4" class="img-fluid shadow-lg"></div>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <h2 class="display-3">Individuelle Lautsprecher</h2>
        <h3 class="display-6">Wir bauen nach Ihren Wünschen</h3>
        <p class="lead">
          Wir sind Ihr zuverlässiger Partner, wenn es um individuelle Lautsprechergehäuse geht. Wir fertigen Lautsprechergehäuse nach 
          Kundenwunsch und sorgen dafür, dass Ihre Lautsprecher perfekt auf Ihre Bedürfnisse abgestimmt sind.
        </p>
        <hr>
        <p>
          Unsere Fertigungsmöglichkeiten sind vielfältig und wir können Ihnen eine breite Palette von Optionen anbieten. Wenn Sie uns einen 
          Bauplan senden, können wir Ihnen eine Schallwand anfertigen, die auf Ihre spezifischen Anforderungen zugeschnitten ist. Wenn Sie es 
          bevorzugen, können wir Ihnen auch einen Bausatz liefern, den Sie selbst montieren können. Oder wenn Sie es noch einfacher möchten, 
          bieten wir Ihnen die Möglichkeit, ein fertig verleimtes Lautsprechergehäuse zu bestellen, das sofort einsatzbereit ist.
        </p>
        <p>
          Unsere Lautsprechergehäuse werden aus hochwertigen Materialien hergestellt und von erfahrenen Handwerkern gefertigt. Wir verwenden MDF, 
          Multiplex oder Massivholz, je nach Ihren Vorlieben und Ihrem Budget. Unsere Lautsprechergehäuse sind perfekt verarbeitet und bieten eine 
          hervorragende Klangqualität.
        </p>
        <p>
          Wenn Sie auf der Suche nach einem individuellen Lautsprechergehäuse sind, dann sind Sie bei uns genau richtig. Wir bieten Ihnen eine breite 
          Palette von Optionen und stellen sicher, dass Ihre Lautsprecher perfekt auf Ihre Bedürfnisse abgestimmt sind. Kontaktieren Sie uns noch heute 
          und lassen Sie uns gemeinsam Ihre Wünsche in die Realität umsetzen.
        </p>
      </div>
    </div>
  </div>
</section>