<section id="lautsprecherbausaetze">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="display-3">Lautsprecher-Bausätze</h2>
        <p class="lead">
          Unsere Lautsprecherbausätze sind, von Experten entwickelte, DIY-Lösungen für Audio-Enthusiasten, die ihren eigenen Lautsprecher bauen möchten. 
          Diese Bausätze enthalten alles, was man für den Bau eines Lautsprechers benötigt, <strong>außer dem Gehäuse</strong>. Das bedeutet, dass der 
          Lieferumfang Chassis, Kabel, Schrauben, Kodensatoren, Spulen und alle anderen notwendigen Komponenten enthält.
        </p>
        <hr>
        <p>
          Das Ergebnis sind Lautsprecher, die für ihre hohe Klangqualität und ihre exzellente Leistung bekannt sind. Die Bausätze sind so konzipiert, 
          dass sie für den Heimgebrauch, für Aufnahmestudios oder für andere Anwendungen verwendet werden können.
        </p>
        <p>
          Die Vorteile von Lautsprecherbausätzen liegen auf der Hand. Zum einen ermöglichen sie es den Nutzern, ihre eigenen Lautsprecher zu bauen und so eine individuelle 
          Lösung für ihre Bedürfnisse zu schaffen. Zum anderen können Lautsprecherbausätze eine kostengünstige Alternative zu fertigen Lautsprechern sein, ohne dabei auf 
          Qualität verzichten zu müssen.
        </p>
        <p>
          Insgesamt sind Lautsprecherbausätze eine großartige Option für Audio-Enthusiasten, die ihre eigenen Lautsprecher bauen möchten. Mit hochwertigen Komponenten und 
          dem Wissen von erfahrenen Ingenieuren sind Lautsprecherbausätze eine hervorragende Möglichkeit, qualitativ hochwertige Lautsprecher zu einem erschwinglichen Preis zu bauen.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row row-cols-2 g-3">
          <div class="col"><img src="/assets/img/ls-bausatz-1.jpg" alt="LS Bausatz 1" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/ls-bausatz-2.jpg" alt="LS Bausatz 2" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/ls-bausatz-3.jpg" alt="LS Bausatz 3" class="img-fluid shadow-lg"></div>
          <div class="col"><img src="/assets/img/ls-bausatz-4.jpg" alt="LS Bausatz 4" class="img-fluid shadow-lg"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-dark py-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
      <h2 class="display-4">Was ist alles enthalten?</h2>
      </div>
      <div class="col-12 col-lg-7 offset-lg-1">
      <p class="lead">Folgende Teile sind, falls benötigt oder empfohlen enthalten:</p>
        <ul class="components">
          <li>Chassis</li>
          <li>Kabel für Innenverdrahtung</li>
          <li>Schrauben</li>
          <li>Terminal / Polklemmen / Anschlüsse</li>
          <li>Dämmmaterial</li>
          <li>Frequenzweichenbauteile (lose)</li>
          <li>Bassreflexrohre</li>
          <li>Rasterplatte</li>
          <li>Baupläne</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary">
  <div class="container">
    <!-- row -->
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <!-- heading -->
        <div>
          <h1 class="text-white display-4 fw-bold pe-lg-8">Lust auf den Selbstbau?
          </h1>
          <!-- text -->
          <p class="text-white-50 mb-4 lead">
            Genießen Sie einen unvergleichlichen Klang zu einem erschwinglichen Preis und lernen Sie dabei die Grundlagen des Lautsprecherbaus kennen. 
            Bestellen Sie jetzt Ihren Lautsprecherbausatz und starten Sie Ihr nächstes Audio-Projekt!
          </p>
          <!-- btn -->
          <a href="https://variant-hifi.com/lautsprecher/lautsprecher-bausaetze/" class="btn btn-dark btn-lg">zu den Lautsprecherbausätzen</a>
        </div>
      </div>
      <!-- img -->
      <div class=" col-xl-6 col-lg-6 col-md-12 text-lg-end text-center pt-6 pl-5">
        <img src="/assets/img/banner.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
 </div>