.components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  list-style-type: none;
  padding: 0;

  li {
    padding: .5rem 0 .5rem 1.25rem;
    position: relative;

    &::before {
      content: "\02C3";
      color: var(--secondary);
      font-weight: bold;
      position: absolute;
      left: 0;
      top: .5rem;
    }
  }
}