/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/nunito-sans-v8-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/nunito-sans-v8-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v8-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v8-latin-300.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/nunito-sans-v8-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/nunito-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v8-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v8-latin-regular.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

/* nunito-sans-italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/nunito-sans-v8-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/nunito-sans-v8-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v8-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v8-latin-italic.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/nunito-sans-v8-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/nunito-sans-v8-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v8-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v8-latin-600.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/nunito-sans-v8-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/nunito-sans-v8-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/nunito-sans-v8-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/nunito-sans-v8-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/nunito-sans-v8-latin-700.svg#NunitoSans') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-black-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}




@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-extrabold-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'causten';
  src: url('../assets/fonts/variant/caustenround-regularoblique-webfont.woff2') format('woff2'),
    url('../assets/fonts/variant/caustenround-regularoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}