:root {
  --primary: #C13436;
  --secondary: #FFA552;
  --dark: #0A0A0A;
  --black: #0a0a0a;
  --font: #7D7E75;
  --light: #e5e3dc;
  --light2: #f6f7f8;
  --decent: rgba(246, 247, 248, 0.144);
}

$primary: #C13436;
$secondary: #FFA552;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import './typography';

html,
body {
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
  color: var(--dark);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--light2);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading {
  font-family: 'causten', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: color 250ms ease-out;
  color: var(--dark);

  &:hover {
    color: var(--primary);
  }
}

section, .section {
  padding-block: 5rem;
  position: relative;
  background-color: white;
  min-height: 100vh;
  min-height: 100dvh;

  &:nth-child(2n) {
    background-color: var(--light2);
  }
}

.sticky {
  position: sticky;
  top: 5rem;
  width: 100%;
  z-index: 99;

  &--nav {
    top: 0;
  }
}

.bg-dark {
  background-color: var(--dark) !important;
  color: var(--light2);
}

.bg-secondary {
  color: var(--black);
}

@import 'components/topbar';
@import 'components/hero';
@import 'components/lists';
@import 'components/footer';